@media screen and (max-width: 420px) {
    .device-img > .video-container-device {
        margin-left: 78px !important;
        margin-right: 76px !important;
        max-width: 360px;
     }
}

@media screen and (max-width: 550px) {
    .background0 {
        max-height: 508px;
    }
.email {
    max-width: 480px;
    max-height: 116px;
}
}

@media screen and (max-width: 951px) {
   
body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;

}

.background0 {
    min-height: 524px;
    max-width: 950px;
}

.logo {
    padding-top: 5px;
    padding-left: 5px;
    
}

.apresenta-inicial {
   max-width: 950px;
   min-width: 320px;
   position: relative;
   margin-top: 46px;
   
}

.apresenta-inicial > h1 {
    max-width: 100%;
    font-size: 2em;
}

.apresenta-inicial > h2 {
    max-width: 100%;
    font-size: 1em;
}

.vamos-la > h3 {
    max-width: 100%;
    font-size: 1em;
}

.email {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    min-width: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email {
    width: 100%;
    min-width: 288px;
}

.email > button {
    margin-top: 16px;
    min-width: 84px;
    min-height: 55px;
    border-radius: 3px;
}

    /*Inicio Aproveite na TV*/
#aproveite-na-tv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.texto-aproveite-na-tv {
    max-width: 100%;
    margin-left: 0px;
}

.texto-aproveite-na-tv h1, h2 {
    text-align: center;
}

.texto-aproveite-na-tv h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.texto-aproveite-na-tv h2 {
    font-size: 1.3em;
    
}

.tv-img {
    margin: auto;
}
/*Fim Aproveite na TV*/



/*Inicio Baixe*/

#baixe {
    max-width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.texto-baixe {
    
    max-width: 100%;
    margin: auto;
}

.texto-baixe h1 {
    margin-top: 45px;
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.3em;
}

.texto-baixe h2 {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 0px;
}

.mobile-img > img {
    max-width: 100%;
    display: flex;
}

.mobile-img{
   margin: auto;
   max-width: 100%;
   min-width: 350px;
}

.download {
   max-width: 55%;
   margin: auto;
   bottom: 15vw;
   left: 0;

}

.texto-boxshot {
    max-width: 177px;
    min-width: 31vw!important;
}

.texto-boxshot h1 {
   font-size: 0.8em;
}

.animation-download {
    position: absolute;
    right: 10px;
    top: 17px;
    max-width: 50px;
    min-width: 10px;
}

/*Fim Baixe*/

/*Inicio Assista quando quiser*/
.assista-quando-quiser {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
     
 }
 
 .assista-quando-quiser .texto {
     margin-top: 50px;
     text-align: center;
     margin: auto;
 }

 .assista-quando-quiser .texto h1 {
    font-size: 2em;
    margin-top: 30px;
 }

 .assista-quando-quiser .texto h2 {
    font-size: 1.3em;
 }
 
 .device-img > .video-container-device {
    margin-left: 92px;
    margin-right: 92px;
    max-width: 360px;
 }

 .device-img {
    min-width: 324px;
 }

 .device-img img {
    min-width: 324px;
 }
 
 .device-img video {
     margin: auto;
     max-width: 100%;
    
 }
 /*Fim Assista quando quiser*/

 /*Inicio Infantil*/
.infantil {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.infantil-img {
   max-width: 100%;
   margin: auto;
}

.infantil-img img {
   margin: auto;
   max-width: 100%;
}

.infantil .texto {
    text-align: center;
    max-width: 95%;
}

.infantil .texto h1 {
    font-size: 2em;
}

.infantil .texto h2 {
    font-size: 1.3em;
}
/*Fim Infantil*/


#mostra, .faq-style {
    font-size: 1.3em;
}
}

